/** VARIABLES */

html {
    /*--c1: #bc3720;*/
    --c1: #782020;
    --c2: #ffcf70;
    --c3: #fff0d1;
    --c4: #cabfa3;
    --c41:#908873;
    --c5: #353535;

    --f1: 'Hedvig Letters Serif', serif;
    --f2: 'Poppins', sans-serif;
}

/**######################*/
body {
    margin: 0;
    background-color: #474747;
}

#iDatas {
    position: absolute;
    width: 0%;
    height: 0%;
    overflow: hidden;
}

#app {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    transition: all .3s ease-in-out;
}

#map {
    position: relative;
}

#menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--c5);
}

#menuBox {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

#mSvgBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#mSvg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svgArrow1 {
    opacity: 0;
}

#bar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--c41);
}

#Boxbar {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
}

#bBody {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
}

#bTitle {
    position: relative;
    font-family: var(--f1);
    width: 100%;
    height: 100%;
    color: white;
}

#bSearch {
    position: relative;
    align-self: start;
    justify-content: start;
    background-color: #736e5f;
    border-radius: 20px;
    display: grid;
    z-index: 2;
}

#bIsrc {
    position: relative;
    background-color: #00000000;
    border: unset;
    color: white;
    font-family: var(--f2);
    margin-top: 0.5vh;
}

#bIsrc:focus {
    outline: none;
}

#bIsrc::placeholder {
    color: #e8e8e8;
    font-family: var(--f2);
}

#bSsvg {
    max-width: 2vw;
    min-width: 4vh;
    align-self: center;
}

#bSesc {
    max-width: 2vw;
    min-width: 4vh;
    height: min-content;
    justify-self: end;
}

#results {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    color: white;
    font-family: var(--f2);
    width: 100%;
    overflow-y: scroll;
}

#results::-webkit-scrollbar {
    width: 10px;
}

#results::-webkit-scrollbar-thumb {
    background-color: var(--c4);
    border-radius: 10px;
}

.result {
    width: fit-content;
    border-bottom: 2px solid var(--c4);
    transition: all .2s;
}

.result:hover {
    scale: 97%;
    cursor: pointer;
}

#bIISLogo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

#mLogoBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mLogo {
    position: relative;
    height: 80%;
    aspect-ratio: 1;
    background-color: #cabfa35f;
    border-radius: 20%;
}

#mSub {
    width: fit-content;
    color: white;
    font-family: var(--f1);
    border-bottom: 2px var(--c4) solid;
}

#mBody {
    color: white;
    font-family: var(--f2);
}

#info {
    position: absolute;
    height: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#infoBox {
    position: relative;
    width: 100%;
    height: 94%;
    background-color: var(--c5);
    display: grid;
    grid-template-columns: 100%;
    z-index: 3;
    border-radius: 10px;
}

#iHeader {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

#iTitle {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #cabfa35f;
    font-family: var(--f1);
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-self: center;
}

#iEsc {
    position: relative;
    width: 100%;
    color: #fff;
}

#iBody {
    position: relative;
    width: calc(100% - 4vw);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 2vw;
    padding-right: 2vw;
}

#iBody::-webkit-scrollbar {
    width: 10px;
}

#iBody::-webkit-scrollbar-thumb {
    background-color: var(--c4);
    border-radius: 10px;
}

#shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000001;
    z-index: -1;
}

.bTxt {
    display: grid;
    row-gap: 2vh;
    font-family: var(--f2);
    color: white;
}

.subTxt {
    position: relative;
    background-color: #cabfa35f;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: .5vh 0% 1vh 0%;
}

.path {
    width: fit-content;
    border-bottom: 2px solid var(--c4);
    transition: all .2s;
    margin-left: 5%;
}

.path:hover {
    scale: 97%;
    cursor: pointer;
}

.iImg {
    max-width: calc(100% - 2vw);
    height: auto;
    display: block; /* Remove any extra spacing below the image */
}

/**##############################################################*/

/** ########PHONE######## */
@media screen and (max-width: 768px) {
    
    #app {
        grid-template-rows: 7vh 93%;
    }

    #Boxbar {
        width: 100%; 
        grid-template-columns: 7vh 1fr 7vh;
    }

    #bLogoBox {
        background-color: var(--c41);
        z-index: 3;
    }

    #bBody {
        grid-template-columns: 1fr 7vh;
        transition: all .5s;
        justify-content: end;
    }

    #bSearch {
        padding: 0.8vh;
        width: 60%;
        height: 60%;
        grid-template-columns: auto 0% 0%;
        grid-template-rows: min-content 1fr;
        border-radius: 10px;
        margin: 0.5vh 2vw 0% 0%;
        overflow: hidden;
        justify-self: end;
        transition: all .5s;
        /*z-index: 10;*/
    }

    #bTitle {
        font-size: 5vh;
        display: flex;
        align-items: center;
        margin-right: 5px;
        justify-content: start;
    }

    #bIsrc {
        width: 80%;
        visibility: hidden;
    }

    #bIsrc:focus {
        border-bottom: var(--c4) 2px solid;
    }

    #bSesc {
        width: 100%;
        visibility: hidden;
    }

    #results {
        margin-top: 1vh;
        grid-row: 2;
        overflow-x: hidden;
    }

    #main {
        grid-template-columns: 100%;
        grid-template-rows: 88% 5% 7%;
    }

    #menu {
        grid-row: 3;
        padding-top: 7vh;
    }

    #mSvg {
        width: 15%;
        aspect-ratio: 1;
        transform: rotate(90deg); 
    }

    #svgLine {
        opacity: 0;
    }

    #svgArrow2 {
        opacity: 1;
    }

    #menu {
        z-index: 2;
    }

    #menuBox {
        grid-template-columns: 0% 100%;
        grid-template-rows: min-content 1fr;
        overflow: scroll !important;
    }

    #mBody {
        grid-column: span 2;
        min-height: 100%;
        height: fit-content;
    }

    #mLogo {
        visibility: hidden;
    }

    #mSub {
        font-size: 6vh;
        justify-self: center;
    }
    #T {}
    
    #mBody {
        margin: 5% 2% 5% 2%;
    }

    #map {
        width: 100%;
        height: calc(100% + 5vh);
        grid-row: 1;
    }

    #info {
        width: 90%;
        justify-self: center;
    }

    #infoBox {
        grid-template-rows: min-content 1fr;
    }

    #iHeader {
        grid-template-columns: 100%;
        grid-template-rows: 5vh 1fr;
    }

    #iTitle {
        margin: 0% 7% 0% 7%;
        grid-row: 2;
        font-size: 5vh;
        text-align: center;
    }
    
    #iEsc {
        position: relative;
        width: 96%;
        background-color: #cabfa35f;
        margin: 2%;
        border-radius: 20px;
    }

    #iBody {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }

    .bTxt {
        grid-template-columns: 100%;
        font-size: 2vh;
    }

    .path {
        font-size: 5vw;
    }
}
/**##############################################################*/

/** ########PC######## */
@media screen and (min-width: 769px) {
    #app {
        grid-template-rows: 6% 94%;
    }

    #Boxbar {
        width: 60%;
        grid-template-columns: 6vh 1fr 6vh;
    }

    #bBody {
        grid-template-columns: min-content 30%;
    }  

    #bTitle {
        font-size: 5vh;
        display: flex;
        align-items: center;
    }

    #bSearch {
        padding: 0.5vh 10px 0.5vh 10px;
        min-height: 60%;
        width: max-content;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: min-content 1fr;
        margin: 0.25vh 0px 0px 2vh;
    }

    #bIsrc {
        width: fit-content;
        font-size: 1.1vw;
    }

    #bSesc {
        visibility: hidden;
    }

    #results {
        font-size: 1.3vw;
    }
    
    #main {
        grid-template-columns:1% 2% 97%;
        grid-template-rows: 100%;
    }
    
    #menuBox {
        transform: translateX(-20vw);
        grid-template-columns: 100%;
        grid-template-rows: 20% 5% 75%;
    }
    
    #mSvg {
        width: max-content;
        height: max-content;
    }

    #svgArrow2 {
        opacity: 0;
    }

    #mSub {
        display: flex;
        align-items: center;
        justify-self: center;
        font-size: 2.5vw;
        margin: 0% 5% 0% 5%;
    }
    
    #mBody {
        margin: 5%;
    }

    #map {
        width: calc(100% + 2vw);
        height: 100%;
        right: 2vw;
    }
    
    #info {
        width: 50%;
    }

    #infoBox {
        grid-template-rows: 12vh 1fr 2vh;
    }

    #iHeader {
        grid-template-rows: 100%;
        grid-template-columns: 1fr 4.2vh;
    }
    
    #iTitle {
        font-size: 3.8vw;
        padding: 0% 2% 0% 2%;
        margin-left: 10px;
        white-space: nowrap;
        margin-top: 10px;
    }

    #iEsc {
        aspect-ratio: 1;
        justify-self: end;
        border-radius: 100%;
        display: flex;
        justify-content: end;
        margin-top: unset;
    }

    .bTxt {
        grid-template-columns: 50% 50%;
        font-size: 1vw;
    }

    .clm2 {
        grid-column: span 2;
    }

    .subTxt {
        font-size: 1.5vw
    }

    .path {
        font-size: 2vw;
    }
}

/** ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}