html {
    --c1: #892919;
    --c2: #ffcf70;
    --c3: #fff0d1;
    --c4: #cabfa3;
    --c5: #353535;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: #474747;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    transition: all .3s ease-in-out;
}

#map {
    position: relative;
}

#menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--c5);
}

#menuBox {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

#mSvgBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#mSvg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svgArrow1 {
    opacity: 0;
}

#bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--c1);
}

#menuBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

#mLogoBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mLogo {
    position: relative;
    height: 80%;
    aspect-ratio: 1;
    background-color: red;
}

#mSub {
    background-color: lime;
}

#mBody {
    background-color: blue;
}

@media screen and (max-width: 647px) {
    #app {
        grid-template-rows: 10% 90%;
    }

    #main {
        grid-template-columns: 100%;
        grid-template-rows: 88% 5% 7%;
    }

    #menu {
        grid-row: 3;
        padding-top: 7vh;
    }

    #mSvg {
        height: fit-content;
        aspect-ratio: 1;
        transform: rotate(90deg);
    }

    #svgLine {
        opacity: 0;
    }

    #svgArrow2 {
        opacity: 1;
    }

    #map {
        width: 100%;
        height: calc(100% + 5vh);
        grid-row: 1;
    }

    #menuBox {
        grid-template-columns: 25% 75%;
        grid-template-rows: 20% 80%;
        overflow: scroll !important;
    }

    #mBody {
        grid-column: span 2;
        min-height: 100%;
        height: fit-content;
    }

    #mLogo {
        margin: 0% 10% 0% 10%;
    }

    #mSub {
        margin: 0% 2% 0% 2%;
    }
    
    #mBody {
        margin: 5% 2% 5% 2%;
    }
}

@media screen and (min-width: 648px) {
    #app {
        grid-template-rows: 6% 94%;
    }

    #map {
        width: calc(100% + 2vw);
        height: 100%;
        right: 2vw;
    }
    
    #main {
        grid-template-columns:1% 2% 97%;
        grid-template-rows: 100%;
    }
    
    #menuBox {
        transform: translateX(-20vw);
    }
    
    #mSvg {
        width: 100%;
        aspect-ratio: 1;
    }

    #svgArrow2 {
        opacity: 0;
    }

    #menuBox {
        grid-template-columns: 100%;
        grid-template-rows: 20% 5% 75%;
    }

    #mSub {
        margin: 0% 5% 0% 5%;
    }
    
    #mBody {
        margin: 5%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}